* {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    box-sizing: border-box;
}

.flex-container, .flex-container-col, .sudoku-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.flex-container-col {
    flex-direction: column;
    gap: 0px;
}

.wrapper {
    height: 100vh;
}

.grid-container {
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.grid-container:nth-child(4), .grid-container:nth-child(7) {
    border-top: 2px solid darkblue;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.side-container {
    width: 200px;
    height: 200px;
}

.container {
    display: grid;
}

.sudoku-cell {
    display: flex;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .1s;
    border-right: 1px solid black;
    color: darkblue;
    font-weight: bold;
}

.sudoku-cell:nth-child(3), .sudoku-cell:nth-child(6) {
    border-right: 2px solid darkblue;
}

.sudoku-cell:hover {
    cursor: pointer;
    background-color: lightcoral;
}

.selected-cell {
    background-color: lightcoral;
}

.modifiable {
    color: black;
    font-weight: normal;
}

.hide {
    display: none;
}