* {
    margin: 0;
    padding: 0;
    background-color: darkgray;
    box-sizing: border-box;
}

.flex-container, .flex-container-col, .sudoku-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.flex-container-col {
    flex-direction: column;
    gap: 0px;
}

.wrapper {
    height: 100vh;
}

.grid-container {
    display: flex;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.side-container {
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
}

.container {
    display: grid;
    /* border: solid 1px black; */
}

.sudoku-cell {
    display: flex;
    /* border: solid 1px black; */
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .1s;
    border-right: 1px solid black;
}

.sudoku-cell:hover {
    cursor: pointer;
}

.selected-cell {
    background-color: rgba(255, 0, 0, 1);
}